g.selected circle {
    fill: #c0392b !important;
}

.dimension text {
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.sidebar-dimensions-list,.sidebar-groups-list {
    min-height: 20px;
    height: auto;
    background: white;
    border: 1px solid rgba(220, 220, 220, 1.0);
    margin-bottom: 3px;
}

.sidebar-dimensions-list .sidebar-dimensions-list-item {
    margin: 2px;
    min-height: 20px;
    background: rgba(0, 0, 0, 0.81);
    color: white;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
}

.sidebar-groups-list .sidebar-groups-list-item {
    margin: 5px;
    border-radius: 3px;
    padding: 1px;
}

.sidebar-groups-list .sidebar-groups-list-item .sidebar-groups-list-item-element {
    background: rgba(0, 0, 0, 0.81);
    color: white;
    margin: 2px;
    min-height: 20px;padding: 3px;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
}

.sidebar-groups-list .sidebar-groups-list-item .sidebar-groups-list-item-title {
    background-color: white;
    color: rgba(0, 0, 0, 0.81);
}

.sidebar-groups-list .sidebar-groups-list-item .sidebar-groups-list-item-remove {
    background-color: #c0392b;
    cursor: pointer;
}